@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Konexy Personal Use";
    src: url(../fonts/KonexyPersonalUse.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background: url(../images/hero_bg.png) no-repeat center;
    background-size: cover;
    padding: 46px 0 24px;
    font-family: 'Montserrat';
}


.banner .container {
    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 0 0 16px;
}

.banner .banner_title {
    font-weight: 800;
    font-size: 48px;
    color: #d32424;
    padding-top: 86px;
}

.banner .banner_subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-top: 7px;
}

.banner .banner_items {
    padding-top: 86px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.banner .banner_item {
    display: flex;
    align-items: center;
    gap: 21px;
}

.banner .banner_item .banner_item_info {
    display: flex;
    flex-direction: column;

}

.banner .banner_item .banner_item_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
    color: #fff;
}

.banner .banner_item .banner_item_subtitle {
    font-weight: 400;
    color: #b9b9b9;
}

.banner .banner_item span {
    display: flex;
    width: 67px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.banner .banner_item span img {
    max-width: 100% !important;
}

.banner_buttons {
    display: flex;
    gap: 31px;
    margin-top: 50px;
}

.banner_buttons a {
    border-radius: 5px;
    padding: 20px 48px;
    background: #d32424;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}

.banner_buttons a span {
    font-family: "Konexy Personal Use";
}

.banner_buttons .bold {
    font-weight: 700;
}

.banner_btn-note {
    background: #fff;
    border-radius: 5px;
    position: relative;
    padding: 15px 15px 14px 19px;
}

.banner_btn-note::after {
    position: absolute;
    content: '';
    border-right: 12px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 20px;
    left: -11px;
    display: block;
    z-index: 12;
}

@media (max-width:1200px) {
    .banner .banner_title {
        font-size: 36px;
        padding-top: 40px;
    }

    .banner .banner_img {
        width: 45%;
        object-fit: contain;
    }

    .banner_buttons {
        gap: 20px;
    }

    .banner_buttons a {
        padding: 20px 38px;
    }
}

@media (max-width:992px) {
    .banner .banner_items {
        padding-top: 40px;
    }

    .banner .banner_img {
        width: 40%;
        object-fit: contain;
    }

    .banner_btn-note br {
        display: none;
    }

    .banner_btn-note {
        max-width: 190px;
        font-size: 14px;
    }
}

@media (max-width:855px) {
    .banner .banner_subtitle {
        font-size: 24px;
    }

    .banner .banner_img {
        width: 30%;
        object-fit: contain;
    }

}

@media (max-width:768px) {
    .banner .container {
        flex-direction: column-reverse;
        padding: 0 16px;
    }

    .banner .banner_title {
        font-size: 28px;
        padding-top: 35px;
    }

    .banner .banner_subtitle {
        font-size: 18px;
    }

    .banner .banner_item {
        gap: 16px;
    }

    .banner .banner_item .banner_item_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 128%;
        color: #fff;
    }

    .banner .banner_img {
        width: 90%;
        margin: 0 auto;
    }

    .banner_btn-note {
        width: 100%;
        max-width: 90%;
    }

    .banner_btn-note::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid #fff;
        top: -18px;
        left: 20px;
    }

    .banner_buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 35px;
    }

    .banner_buttons a {
        width: 90%;
        text-align: center;
    }

}

@media (max-width:400px) {
    .banner_buttons a {
        width: 100%;
    }
}